<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.ssm.mapper.EmployeeMapper">

    <!-- 公共列片段：员工表所有列 -->
    <sql id="Employee_Columns">
        id, loginname, password, name, sex, age, phone, sal, state
    </sql>

    <!-- 结果映射 -->
    <resultMap id="EmployeeResultMap" type="Employee">
        <id property="id" column="id"/>
        <result property="loginname" column="loginname"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="phone" column="phone"/>
        <result property="sal" column="sal"/>
        <result property="state" column="state"/>
    </resultMap>

    <!-- 动态查询员工信息 -->
    <select id="selectEmployeeDynamic" resultMap="EmployeeResultMap">
        SELECT <include refid="Employee_Columns"/> FROM tb_employee
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="loginname != null and loginname != ''">
                AND loginname LIKE CONCAT('%', #{loginname}, '%')
            </if>
            <if test="sex != null and sex != ''">
                AND sex = #{sex}
            </if>
            <if test="age != null">
                AND age > #{age}
            </if>
            <if test="phone != null and phone != ''">
                AND phone IS NOT NULL AND phone != ''
            </if>
        </where>
    </select>

    <!-- 动态更新员工信息 -->
    <update id="updateEmployeeDynamic" parameterType="Employee">
        UPDATE tb_employee
        <set>
            <if test="loginname != null and loginname != ''">
                loginname = #{loginname},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="sal != null">
                sal = #{sal},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据ID查询员工 -->
    <select id="selectEmployeeById" resultMap="EmployeeResultMap">
        SELECT <include refid="Employee_Columns"/> FROM tb_employee WHERE id = #{id}
    </select>

    <!-- 插入员工信息 -->
    <insert id="insertEmployee" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_employee (loginname, password, name, sex, age, phone, sal, state)
        VALUES (#{loginname}, #{password}, #{name}, #{sex}, #{age}, #{phone}, #{sal}, #{state})
    </insert>

    <!-- 查询所有员工 -->
    <select id="selectAllEmployees" resultMap="EmployeeResultMap">
        SELECT <include refid="Employee_Columns"/> FROM tb_employee
    </select>

</mapper>
